{# templates/cart/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<a href="{{ path('app_main')}}">Accueil</a>
	<h1>Votre panier</h1>

	<ul>
		{% for id, quantity in cart %}
			<li>Produit
				{{ id }}
				:
				{{ quantity }}
				<a href="{{ path('cart_remove', {'id': id}) }}">Supprimer</a>
				<a href="{{ path('cart_add', {'id': id}) }}">Ajouter le produit</a>

			</li>
		{% else %}
			<li>Votre panier est vide</li>
		{% endfor %}
	</ul>
{% endblock %}
