{% extends 'base.html.twig' %}

{% block title %}LineShop
{% endblock %}

{% block body %}
	{# {% if user %}
																																														    <p>Bonjour {{ user }}!  
																																															<a class="nav-link" href="{{ path('app_logout') }}">Logout</a></p> 
																																														{% else %}
																																														    <p>Connectez-vous  <a class="nav-link" href="{{ path('app_login') }}">Login</a></p>
																																														{% endif %} #}

	<h1>LineShop</h1>
	{# Filtre pour les catégories #}
	<div>
		<form action="{{ path('app_main') }}" method="GET">
			<button type="submit" name="category" value="all" class="btn btn-secondary" style="margin: 5px;">Toutes les catégories</button>
			{% for categorie in categories %}
				<button type="submit" name="category" value="{{ categorie.id }}" class="btn btn-secondary" style="margin: 5px;">{{ categorie.libelle }}</button>
			{% endfor %}
		</form>
	</div>

	<div class="container col-10 col-lg-8 h-75 d-inline-block d-flex align-items-center">
		<div
			class="row row-cols-1 row-cols-sm-1 row-cols-md-3  g-4">

			{# Boucle pour afficher les articles. #}
			{% for article in articles %}
				<div class="col-12 col-sm-12 col-md-6 col-xl-4">
					<div class="card h-100 fs-6">
						<div class="image">
							<img src="{{ asset('images/' ~ article.image)}}" alt="{{ article.description }}">
						</div>
						<div class="card-body">
							<h5 class="card-title d-flex justify-content-between d-flex align-items-center fs-6">{{ article.nom }}
								<span class="text-success ">{{ article.prix }}€</span>
							</h5>
							<div class="d-flex justify-content-center align-items-center details-div fs-6">
								<button type="button" class="btn border border-warning fs-6">🎁
								</button>
								<h4 class="mb-0">★★★★☆</h4>
								<a href="{{ path('cart_add', {id: article.id}) }}" class="btn btn-success fs-6 needs-validation" role="button">+</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</tbody></table><div>{% endblock %}
