{% extends 'base.html.twig' %}

{% block title %}LineShop
{% endblock %}

{% block body %}
	<h1>LineShop</h1>
	{# Filtre pour les catégories #}
	<div>
		<form action="{{ path('app_main') }}" method="GET">
			<button type="submit" name="category" value="all" class="btn btn-secondary" style="margin: 5px;">Toutes les catégories</button>
			{% for categorie in categories %}
				<button type="submit" name="category" value="{{ categorie.id }}" class="btn btn-secondary" style="margin: 5px;">{{ categorie.libelle }}</button>
			{% endfor %}
		</form>
	</div>

	<div class="container col-10 col-lg-8 h-75 d-inline-block d-flex align-items-center">
		<div
			class="row row-cols-1 row-cols-sm-1 row-cols-md-3  g-4">

			{# Boucle pour afficher les articles. #}
			{% for article in articles %}
				<div class="col-12 ">
					<div class="card h-100">
						<div class="image">
							<img src="{{ asset('images/' ~ article.image)}}" alt="{{ article.description }}">
						</div>
						<div class="card-body">
							<h5 class="card-title d-flex justify-content-between d-flex align-items-center">{{ article.nom }}
								<span class="text-success fs-1">{{ article.prix }}€</span>
							</h5>
							<span class="d-flex justify-content-between details-span">
								<button type="button" class="btn btn-warning">Offrir</button>
								<h4>★★★★☆</h4>
							<a href="{{ path('cart_add', {id: article.id}) }}" class="btn btn-success" role="button">+</a>
							</span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</tbody></table><div>{% endblock %}
